{% extends 'base.html'%}


    {%block content%}
    <div class="container">


     <div class="row">
       <div class="col-lg-12">
               <h1 class="page-header">{{Title}}</h1>
           </div>
           {% if  Books.first != None %}

            {%for single in Books%}

                <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                    <a class="thumbnail" href="{% url 'book_detail' pk=single.pk %}">
                        <img class="img-responsive img-gallery" src="{{single.image_link}}" alt="">
                    </a>
                </div>

     {% endfor%}
     {%endif%}
     {% if  Books.first == None %}

<h3>Unfortunately no books where found</h3>
     {%endif%}


            {%endblock %}
